.main_header .logo_area a img{
	color:white;
}

mt-1{
	margin-top: 1em;
}

ml-1{
	margin-top: 1em;
}

.red{
	color:#d50000;
}
.h-full{
	min-height:100%;
}

.flex{
	display:flex;
}

.justify-center{
	justify-content: center;
}

.items-center{
	align-items: center;
}
.dir-rows{
	flex-direction: row;
}